.h1 {
    text-align: center;
}

.h3 {
    text-align: center;
}

.button {
    border:2px solid;
    border-radius:2px;
    padding: 4px 10px 4px 10px;
    margin: 4px;
    float:left;
    background-color: #DCDCDC;
    color: black;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

.button a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.jumbotron {
    margin: 10px;
}

#game {
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #1E90FF;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

#quiz {
    text-indent: 10px;
    display:none;
}

#prev {
    display:none;
}

#start {
    display:none;
}